.myBtn {

    font-size: 18px;
    border: none;
    outline: none;
    background-color: #b2b7c5;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

.myBtn:hover {
    background-color: #555;
}

.user_name {
    font-size: 24px;
    color: #2d3e3f;
    margin: 10px;
    padding: 10px;
}

#bottom-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}

::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #eaeced;

    &:hover {
        background: #d5e0f3;
    }
}